.media.turno{
	border-bottom: solid 1px rgba(216, 216, 216, .7);
	padding: 10px 15px
}

.media.turno:first-child{
	border-top: solid 1px rgba(216, 216, 216, .7);
}

.media.turno h5{
	font-size: 16px;
}

.media.turno .ticket{
	background-color: #00AEEF;
	border: solid 2px #00AEEF;
	border-radius: 6px;
	min-width: 65px;
	text-align: center;
}

.media.turno .ticket span{
	display: block;
}

.media.turno .ticket span.turno{
	padding: 0 5px;
	color: #383B3E;
	background-color: #FFF;
	font-size: 26px;
	font-weight: 600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.media.turno .ticket span.label{
	color: #FFFFFF;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}